.footer-container {
    position: relative;
    min-height: 20vh;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-container a svg {
    height: 50px;
}